* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    background-color: rgb(6, 23, 49);
    height: 100vh;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 80%;
    height: 80%;
}

h1 {
    font-size: 45px;
    color: white;
}

.sub-h1 {
    color: green;
    margin-top: 5px;
    letter-spacing: 2px;
}

.input {
    width: 390px;
    padding-left: 10px;
    font-weight: bold;
    background-color: rgb(226, 226, 226);
    height: 40px;
    border-style: none;
    outline: 1px solid grey;
    border-radius: 1px;
    margin-top: 30px;
}

#copy {
    color: rgb(19, 18, 18);
    position: absolute;
    margin: 42px -30px;
    cursor: pointer;
}

/* #copy:hover{
    transform: scale(1.1);
    transition: 0.2s;
    color: green;
} */
.generate {
    width: 155px;
    height: 35px;
    margin-top: 19px;
    background-color: rgb(31, 187, 65);
    border-style: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.generate:hover {
    background-color: rgb(37, 37, 37);
    color: white;
    transition: 1s;
    transform: scale(1.1);
}

/* for responsive mobile devise  */

@media only screen and (max-width : 600px) {
    .main {
        width: 100%;
        background-color: rgb(6, 23, 49);
        height: 100vh;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 35px;
        color: white;
    }

    .sub-h1 {
        color: green;
        margin-top: 2px;
        letter-spacing: 2px;
        font-size: 27px;
    }

    .input {
        width: 250px;
        padding-left: 10px;
        background-color: rgb(226, 226, 226);
        height: 35px;
        border-style: none;
        outline: 1px solid grey;
        border-radius: 1px;
        margin-top: 25px;
        letter-spacing: 1px;
    }

    #copy {
        color: rgb(19, 18, 18);
        position: absolute;
        margin: 35px -30px;
    }

    .generate {
        width: 165px;
        height: 35px;
        margin-top: 19px;
        background-color: rgb(31, 187, 65);
        border-style: none;
        color: black;
        font-size: 13px;
        letter-spacing: 1.5px;
    }

}